.main-about{
     width: 900px;
        margin: auto;
}
.main-about > h1 {
    /* margin: auto; */
    padding-bottom: 50px;
}
.about {
    display: flex;
    background-color: var(--main-color);
    width: 80%;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    width:100%
}

.about-img {
    display: flex;
    justify-content: center;
    position: relative;
}

.about-img::before {
    content: '';
    width: 180px;
    height: 350px;
    position: absolute;
    left: 64px;
    bottom: -15px;
    transform: rotate(212deg);
    border-style: solid;
    border-color: var(--third-color);

}
.about-img:hover::before {
    content: '';
    width: 180px;
    height: 350px;
    position: absolute;
    left: 60px;
    bottom: -21px;
    border-style: solid;
    border-color: var(--fourth-color);
    transform: scale(1.1) rotate(330deg)
}

.about-img>img {
    background-repeat: no-repeat;
    width: 80%;
    z-index: 10;
}

.about-img>img:hover {
    transform: scale(1.2)
}



.about-contain {
    padding: 0px 20px;
}

.about-contain>p {
    text-indent: 33px;
}

@media screen and (max-width: 650px){
    .about-img{
        display: none;
    }
    .main-about {
        width: 100%;
    }
    .about{
        width: 80%;
    }
    .about-contain {
        padding: 20px 20px;
    }
}